In [24]:
import requests
import pandas as pd
import yfinance as yf
import pymysql
from sqlalchemy import create_engine
import time 
from tqdm import tqdm

from datetime import datetime

In [2]:
headers = {
    'accept': 'application/json, text/plain, */*',
    'accept-language': 'ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7',
    'origin': 'https://www.nasdaq.com',
    'referer': 'https://www.nasdaq.com/',
    'user-agent': 'Mozilla/5.0 (Macintosh; ARM64 Mac OS X 13_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36',
}
res = requests.get('https://api.nasdaq.com/api/screener/stocks?tableonly=true&limit=25&offset=0&download=true', headers=headers)
res

In [3]:
assert 'data' in res.json()
data = res.json()['data']

In [4]:
df = pd.DataFrame(data['rows'])
df.head()

,symbol,name,lastsale,netchange,pctchange,volume,marketCap,country,ipoyear,industry,sector,url
0,A,Agilent Technologies Inc. Common Stock,$148.63,-2.89,-1.907%,1637928,42448029736.00,United States,1999,Biotechnology: Laboratory Analytical Instruments,Industrials,/market-activity/stocks/a
1,AA,Alcoa Corporation Common Stock,$34.11,-1.21,-3.426%,5860617,8812483183.00,United States,2016,Aluminum,Industrials,/market-activity/stocks/aa
2,AACG,ATA Creativity Global American Depositary Shares,$0.78,-0.0133,-1.677%,4274,24960101.00,China,2008,Other Consumer Services,Real Estate,/market-activity/stocks/aacg
3,AACT,Ares Acquisition Corporation II Class A Ordina...,$11.01,0.00,0.00%,569787,0.00,,2023,Blank Checks,Finance,/market-activity/stocks/aact
4,AADI,Aadi Bioscience Inc. Common Stock,$2.74,-0.14,-4.861%,159369,67533854.00,United States,,Biotechnology: Pharmaceutical Preparations,Health Care,/market-activity/stocks/aadi

In [5]:
df[df['symbol'] == 'AAPL']

,symbol,name,lastsale,netchange,pctchange,volume,marketCap,country,ipoyear,industry,sector,url
13,AAPL,Apple Inc. Common Stock,$228.01,-7.99,-3.386%,72891507,3446558802230.00,United States,1980,Computer Manufacturing,Technology,/market-activity/stocks/aapl

In [6]:
df["date"] = datetime.today().strftime('%Y-%m-%d')

In [7]:
df.drop(["lastsale", "url", "ipoyear", "netchange", "pctchange", "volume"], axis = 1, inplace = True)

In [8]:
df = df[['name', 'symbol', 'sector', 'marketCap', 'country', 'industry', 'date']]

In [9]:
df.head()

,name,symbol,sector,marketCap,country,industry,date
0,Agilent Technologies Inc. Common Stock,A,Industrials,42448029736.00,United States,Biotechnology: Laboratory Analytical Instruments,2025-02-03
1,Alcoa Corporation Common Stock,AA,Industrials,8812483183.00,United States,Aluminum,2025-02-03
2,ATA Creativity Global American Depositary Shares,AACG,Real Estate,24960101.00,China,Other Consumer Services,2025-02-03
3,Ares Acquisition Corporation II Class A Ordina...,AACT,Finance,0.00,,Blank Checks,2025-02-03
4,Aadi Bioscience Inc. Common Stock,AADI,Health Care,67533854.00,United States,Biotechnology: Pharmaceutical Preparations,2025-02-03

In [12]:
# Connect to MySQL 
con = pymysql.connect(
    user="root",
    passwd="NOPENOPENOPE!",
    host="127.0.0.1",
    db="stock_db",
    charset="utf8")

mycursor = con.cursor()

# SQL Query
query = """
INSERT INTO stock_ticker (Name, Symbol, Sector, `Market Cap`, Country, Industry, date)
VALUES (%s, %s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE 
    Name = VALUES(Name), 
    Sector = VALUES(Sector), 
    `Market Cap` = VALUES(`Market Cap`);
"""

args = df.values.tolist()

try:
    mycursor.executemany(query, args)
    con.commit()
except Exception as e:
    print(f"Error: {e}")
    con.rollback()
finally:
    con.close()

# Store Stock price (yfinance API) into MySQL

In [50]:
# Database connection
engine = create_engine('mysql+pymysql://root:NOPENOPENOPENOP!@127.0.0.1:3306/stock_db')
con = pymysql.connect(
    user="root",
    passwd="NOPENOPENOP!",
    host="127.0.0.1",
    db="stock_db",
    charset="utf8"
)
mycursor = con.cursor()

# Retrieve ticker list
ticker_list = pd.read_sql(
    """
    SELECT Symbol
    FROM stock_ticker
    WHERE date = (SELECT MAX(date) FROM stock_ticker);
    """, 
    con=engine
)

# Filter tickers to exclude unwanted patterns (e.g., preferred stocks, warrants)
filtered_tickers = []
for symbol in ticker_list['Symbol']:
    # Modify conditions if necessary to exclude specific patterns
    if '^' in symbol or symbol.endswith('W') or symbol.endswith('U'):
        continue
    filtered_tickers.append(symbol)

# SQL query for inserting/updating stock price data
query = """
INSERT INTO stock_price (Date, High, Low, Open, Close, Volume, ticker)
VALUES (%s, %s, %s, %s, %s, %s, %s) AS new
ON DUPLICATE KEY UPDATE
High = new.High, 
Low = new.Low, 
Open = new.Open, 
Close = new.Close,
Volume = new.Volume;
"""

error_list = []

# Collect and store stock price data for each ticker
for ticker in tqdm(filtered_tickers):
    try:
        # Attempt to download data with a default period of 5 years
        price = yf.download(ticker, period='5y', progress=False)
        
        # Process data before inserting into the database
        price = price.reset_index()[['Date', 'High', 'Low', 'Open', 'Close', 'Volume']]
        price['ticker'] = ticker
        
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except Exception as e:
        print(f"Invalid period for {ticker}, retrying with 'max' period: {e}")
        try:
            price = yf.download(ticker, period='max', progress=False)     
            
            if price.empty:
                raise ValueError(f"No data for {ticker} with 'max' period")
            
            price = price.reset_index()[['Date', 'High', 'Low', 'Open', 'Close', 'Volume']]
            price['ticker'] = ticker
    
            args = price.values.tolist()
            mycursor.executemany(query, args)
            con.commit()
            
        except Exception as e:
            print(f"Failed to download {ticker} even with 'max' period: {e}")
            error_list.append(ticker)
        
    time.sleep(2)

# Close database connection
engine.dispose()
con.close()

  0%|                                                                       | 3/6017 [00:07<3:56:10,  2.36s/it]
1 Failed download:
['AACT']: YFInvalidPeriodError("%ticker%: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']")
  0%|                                                                       | 6/6017 [00:13<3:48:34,  2.28s/it]
1 Failed download:
['AAM']: YFInvalidPeriodError("%ticker%: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']")
  0%|▏                                                                     | 12/6017 [00:27<3:49:32,  2.29s/it]
1 Failed download:
['AAPG']: YFInvalidPeriodError("%ticker%: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', 'ytd', 'max']")
  0%|▎                                                                     | 24/6017 [00:55<3:53:35,  2.34s/it]
1 Failed download:
['ABLLL']: YFInvalidPeriodError("%ticker%: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']")
  0%|▎                                                                     | 25/6017 [00:57<3:46:52,  2.27s/it]
1 Failed download:
['ABLV']: YFInvalidPeriodError("%ticker%: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']")
  1%|▎                                                                     | 31/6017 [01:11<3:49:12,  2.30s/it]

KeyboardInterrupt: